.card {
  // padding: 1.2em;
  // display: inline-block;
  // width: min-content;

  background-color: rgba(145, 129, 212, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(145, 129, 212);
}

.preview {
  background-color: rgba(145, 129, 212, 0.05);
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.read-the-docs {
  color: #888;
}

.editor {
  display: block;
  width: calc(100% - 2.4rem);
  min-height: 160px;

  border: none;
  outline: none;
  background: transparent;

  padding: 1.2em;
  padding-bottom: 1.5em;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.2em;

  background-color: rgba(145, 129, 212, 0.05);
  .tools {
    > button {
      margin-right: 0.4rem;
      background-color: transparent;
      border-radius: 3px;
      border-color: rgba(145, 129, 212, 0.1);
      &:hover {
        box-shadow: 0 3px 6px rgba(145, 129, 212);
      }
    }
  }

  > button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: rgb(255, 255, 255);
    background-color: rgba(145, 129, 212);
    cursor: pointer;
    transition: border-color 0.25s;
    &:hover {
      background-color: rgba(145, 129, 212, 0.6);
    }
    &:focus,
    &:focus-visible {
      border-color: #646cff;
      // outline: 4px auto -webkit-focus-ring-color;
    }
  }
}
