.list {
  margin-left: 1.5rem;
  > div {
    background-color: rgba(129, 212, 205, 0.1);
    border-radius: 10px;
    overflow: hidden;

    padding: 1rem;
    margin-bottom: 1rem;

    // box-shadow: 0 3px 6px rgba(145, 129, 212);
  }
}
